In [31]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.9/dist-packages (3.1.0)

In [35]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

In [68]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks = stocks[~stocks['Ticker'].isin(['DISCA', 'HFC','VIAC','WLTW'])]
from secrets import IEX_CLOUD_API_TOKEN

Testing an API CALL

In [69]:
symbol = "AAPL"
IEX_CLOUD_API_TOKEN = 'sk_2ee3de7590d14840ac2ea5f86d3c26d5'
api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"
data = requests.get(api_url).json()
print(data)

{'avgTotalVolume': 60369736, 'calculationPrice': 'close', 'change': -0.35, 'changePercent': -0.00211, 'close': 165.21, 'closeSource': 'official', 'closeTime': 1681502400142, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 165.25, 'delayedPriceTime': 1681502390086, 'extendedChange': -0.06, 'extendedChangePercent': -0.00036, 'extendedPrice': 165.15, 'extendedPriceTime': 1681515961526, 'high': 166.32, 'highSource': '15 minute delayed price', 'highTime': 1681502399994, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 165.2, 'iexCloseTime': 1681502399751, 'iexLastUpdated': 1681502675534, 'iexMarketPercent': 0.012120543922142254, 'iexOpen': 164.56, 'iexOpenTime': 1681479000972, 'iexRealtimePrice': 165.18, 'iexRealtimeSize': 2, 'iexVolume': 598591, 'lastTradeTime': 1681502399752, 'latestPrice': 165.21, 'latestSource': 'Close', 'latestTime': 'April 14, 2023', 'latestUpdate': 1681502400142, 'latestVolume': 49386480, 'low': 163.82, 'lowSource': '15 minute delayed price', 'lowTime': 1681490810899, 'marketCap': 2613943698660, 'oddLotDelayedPrice': 165.25, 'oddLotDelayedPriceTime': 1681502390086, 'open': 164.59, 'openTime': 1681479001198, 'openSource': 'official', 'peRatio': 28.1, 'previousClose': 165.56, 'previousVolume': 68445649, 'primaryExchange': 'NASDAQ', 'symbol': 'AAPL', 'volume': 49386480, 'week52High': 175.37, 'week52Low': 123.98, 'ytdChange': 0.27406031740073195, 'isUSMarketOpen': False}

In [70]:
price = data['latestPrice']
pe_ratio = data['peRatio']
price
pe_ratio

28.1

In [71]:
def chuncks(lst, n):
  for i in range(0, len(lst), n):
    yield lst[i:i+n]


symbol_groups = list(chuncks(stocks['Ticker'], 100))
symbol_strings= []
for i in range(0, len(symbol_groups)):
  symbol_strings.append(','.join(symbol_groups[i]))

my_columns = ['Ticker', 'Price', 'Price-to-Earning Ratio', 'Number of Shares To Buy']

In [72]:
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Price-to-Earning Ratio, Number of Shares To Buy]
Index: []

In [ ]:
for symbol_string in symbol_strings:
  batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
  data = requests.get(batch_api_call_url).json()
  for symbol in symbol_string.split(','):
    final_dataframe = final_dataframe.append(
      pd.Series([
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['quote']['peRatio'],
            'N/A'

      ],
      index = my_columns

      ),
        ignore_index=True
    )

final_dataframe

In [74]:
final_dataframe

    Ticker   Price Price-to-Earning Ratio Number of Shares To Buy
0        A  139.20                  31.42                     N/A
1      AAL   12.79                  65.96                     N/A
2      AAP  123.60                  14.95                     N/A
3     AAPL  165.21                   28.1                     N/A
4     ABBV  161.59                  24.37                     N/A
..     ...     ...                    ...                     ...
496    YUM  134.88                  29.51                     N/A
497    ZBH  132.37                 120.34                     N/A
498   ZBRA  303.08                   34.4                     N/A
499   ZION   29.95                   3.09                     N/A
500    ZTS  174.60                  38.89                     N/A

[501 rows x 4 columns]

Removendo Glamour Stocks

In [ ]:
final_dataframe.sort_values('Price-to-Earning Ratio', ascending=True, inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earning Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe.drop('index', axis=1, inplace=True)
final_dataframe

In [87]:
final_dataframe.drop('level_0', axis=1, inplace=True)

In [ ]:
final_dataframe

In [92]:
def portfolio_input():
  global portfolio_size
  portfolio_size = input('Digite o vlaor do Investimento: ')

  try:
    val = float(portfolio_size)

  except ValueError:
    print('Digite em formato de numeral!')
    portfolio_size = float(input("Digite o valor de Investimento: "))

In [93]:
portfolio_input()

Digite o vlaor do Investimento: 100000

In [107]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for row in final_dataframe.index:
  final_dataframe.loc[row, "Number of Shares To Buy"] = math.floor(position_size/final_dataframe.loc[row, 'Price'])

In [ ]:
final_dataframe

Criando um algoritimo melhor

In [184]:
symbol = "AAPL"
batch_api_url_call = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_url_call).json()

pe_ratio = data[symbol]['quote']['peRatio']

pb_ratio = data['AAPL']['advanced-stats']['priceToBook']
ps_ratio = data['AAPL']['advanced-stats']['priceToSales']


enterprise_value = data['AAPL']['advanced-stats']['enterpriseValue']
ebitda =  data['AAPL']['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda


gross_profit = data['AAPL']['advanced-stats']['grossProfit']
ev_to_gross_profit =  enterprise_value / gross_profit

print(ev_to_gross_profit)

16.055733948738848

In [ ]:
#criando o dataframe

rv_columns= [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earning Ratio',
    'PE Percentile',
    'Price-to-book Ratio',
    'PB Percentile',
    'Price-to-sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
  batch_api = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
  data = requests.get(batch_api).json()
  for symbol in symbol_string.split(','):
    enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
    ebitda =  data[symbol]['advanced-stats']['EBITDA']
    gross_profit = data[symbol]['advanced-stats']['grossProfit']

    try:
      ev_to_ebitda = enterprise_value/ebitda 
    except TypeError:
      ev_to_ebitda = np.NaN

# fazendo esses trys e excepts pois algumas empresas não divulgam tais informações. 
# o problema com os valores nulos sera resolvido mais a frente

    try:
      ev_to_gross_profit = enterprise_value/gross_profit
    except TypeError:
      ev_to_gross_profit = np.NaN


    rv_dataframe = rv_dataframe.append(
        pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'NaN',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
            

        ],
        index= rv_columns),
          ignore_index = True
    )

In [140]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,139.20,NaN,31.42,N/A,7.45,N/A,6.03,N/A,22.080080,N/A,11.507343,N/A,N/A
1,AAL,12.79,NaN,65.96,N/A,-1.46,N/A,0.1726,N/A,9.306850,N/A,0.717812,N/A,N/A
2,AAP,123.60,NaN,14.95,N/A,2.73,N/A,0.6549,N/A,8.426761,N/A,1.694745,N/A,N/A
3,AAPL,165.21,NaN,28.1,N/A,46.18,N/A,6.76,N/A,21.384621,N/A,16.055734,N/A,N/A
4,ABBV,161.59,NaN,24.37,N/A,16.63,N/A,4.94,N/A,12.165593,N/A,8.391984,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,134.88,NaN,29.51,N/A,-4.25,N/A,5.51,N/A,21.272514,N/A,9.653389,N/A,N/A
497,ZBH,132.37,NaN,120.34,N/A,2.3,N/A,3.99,N/A,18.836574,N/A,6.709793,N/A,N/A
498,ZBRA,303.08,NaN,34.4,N/A,5.76,N/A,2.72,N/A,16.469157,N/A,6.728253,N/A,N/A
499,ZION,29.95,NaN,3.09,N/A,1.04,N/A,1.17,N/A,2.500426,N/A,1.205143,N/A,N/A
500,ZTS,174.60,NaN,38.89,N/A,18.22,N/A,9.93,N/A,27.448238,N/A,15.036522,N/A,N/A

In [186]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)] # Lidando com valores NaN

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
6,ABMD,381.020,NaN,65.69,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
28,ALXN,182.500,NaN,59.45,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,324.480,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,319.740,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
88,CERN,94.920,NaN,47.94,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,NaN,9.73,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
121,CTXS,103.900,NaN,39.96,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
135,DISCK,24.420,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
164,ETFC,49.260,NaN,14.27,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
185,FLIR,57.340,NaN,32.03,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
189,FOX,30.750,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
192,FRT,96.370,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
203,GOOG,109.460,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
252,J,115.010,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
263,KIM,18.700,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
279,LIN,359.670,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
323,MXIM,103.140,NaN,33.82,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
324,MYL,15.855,NaN,30.76,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
325,NBL,8.450,NaN,-0.73,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
346,NWS,17.550,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
358,PBCT,19.410,NaN,13.96,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
408,SIVB,106.040,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
450,UA,8.320,NaN,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
491,XLNX,194.920,NaN,52.54,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

In [187]:
for column in ['Price-to-Earning Ratio',
                'Price-to-book Ratio',
            'Price-to-sales Ratio', 'EV/EBITDA',
            'EV/GP']:
  rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace=True)

In [188]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)] # não existe mais valores Nan

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earning Ratio, PE Percentile, Price-to-book Ratio, PB Percentile, Price-to-sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

Calculando as Porcentagens

In [189]:
from scipy.stats import percentileofscore as score

metricas = { ## dicionario 
    'Price-to-Earning Ratio':'PE Percentile',
    'Price-to-book Ratio':'PB Percentile',
    'Price-to-sales Ratio':'PS Percentile',
    'EV/EBITDA':'EV/EBITDA Percentile',
    'EV/GP':'EV/GP Percentile',

}
for metric in metricas.keys(): ## percore pelas chaves do dicionario(price-to-earning  etc .. ) 
  for row in rv_dataframe.index: ## percore todas as linhas do data frame 
    rv_dataframe.loc[row, metricas[metric]] = score(rv_dataframe[metric], rv_dataframe.loc[row, metric])
## para cada linha, entra na coluna dos percentiles e calcula o score
## score = porcentagem em comparação aos outros, ex: se o numero for maior que 80%
## dos outros valores da coluna, então recebe 80%

In [151]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,139.20,NaN,31.42,72.954092,7.45,76.846307,6.0300,84.830339,22.080080,85.429142,11.507343,84.231537,N/A
1,AAL,12.79,NaN,65.96,95.409182,-1.46,6.187625,0.1726,0.998004,9.306850,26.347305,0.717812,2.59481,N/A
2,AAP,123.60,NaN,14.95,32.135729,2.73,44.91018,0.6549,9.580838,8.426761,22.355289,1.694745,11.576846,N/A
3,AAPL,165.21,NaN,28.10,67.664671,46.18,97.804391,6.7600,86.626747,21.384621,83.632735,16.055734,93.413174,N/A
4,ABBV,161.59,NaN,24.37,60.479042,16.63,93.213573,4.9400,78.043912,12.165593,40.718563,8.391984,67.664671,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,134.88,NaN,29.51,70.858283,-4.25,5.788423,5.5100,82.235529,21.272514,83.233533,9.653389,75.0499,N/A
497,ZBH,132.37,NaN,120.34,98.003992,2.30,37.62475,3.9900,71.257485,18.836574,75.848303,6.709793,48.902196,N/A
498,ZBRA,303.08,NaN,34.40,78.043912,5.76,69.760479,2.7200,53.692615,16.469157,67.265469,6.728253,49.101796,N/A
499,ZION,29.95,NaN,3.09,8.982036,1.04,12.075848,1.1700,20.858283,2.500426,2.994012,1.205143,7.185629,N/A
500,ZTS,174.60,NaN,38.89,84.231537,18.22,93.612774,9.9300,94.011976,27.448238,91.217565,15.036522,91.417166,N/A

Calculando o rv score

In [190]:
from statistics import mean

for row in rv_dataframe.index: ## percorre todas as linhas do tada frame
  value_percentiles = [] ## lista para pegar todas as procentagens da linha
  for metric in metricas.keys():
    value_percentiles.append(rv_dataframe.loc[row, metricas[metric]]) ## adicionando todas as porcentagens na lista
  
  
  rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles) ## rv score da linha = media das porcentagens

In [157]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,139.20,NaN,31.42,72.954092,7.45,76.846307,6.0300,84.830339,22.080080,85.429142,11.507343,84.231537,80.858283
1,AAL,12.79,NaN,65.96,95.409182,-1.46,6.187625,0.1726,0.998004,9.306850,26.347305,0.717812,2.59481,26.307385
2,AAP,123.60,NaN,14.95,32.135729,2.73,44.91018,0.6549,9.580838,8.426761,22.355289,1.694745,11.576846,24.111776
3,AAPL,165.21,NaN,28.10,67.664671,46.18,97.804391,6.7600,86.626747,21.384621,83.632735,16.055734,93.413174,85.828343
4,ABBV,161.59,NaN,24.37,60.479042,16.63,93.213573,4.9400,78.043912,12.165593,40.718563,8.391984,67.664671,68.023952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,134.88,NaN,29.51,70.858283,-4.25,5.788423,5.5100,82.235529,21.272514,83.233533,9.653389,75.0499,63.433134
497,ZBH,132.37,NaN,120.34,98.003992,2.30,37.62475,3.9900,71.257485,18.836574,75.848303,6.709793,48.902196,66.327345
498,ZBRA,303.08,NaN,34.40,78.043912,5.76,69.760479,2.7200,53.692615,16.469157,67.265469,6.728253,49.101796,63.572854
499,ZION,29.95,NaN,3.09,8.982036,1.04,12.075848,1.1700,20.858283,2.500426,2.994012,1.205143,7.185629,10.419162
500,ZTS,174.60,NaN,38.89,84.231537,18.22,93.612774,9.9300,94.011976,27.448238,91.217565,15.036522,91.417166,90.898204

Selecionando as 50 melhores ações

In [191]:
rv_dataframe.sort_values('RV Score', ascending=True, inplace=True)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
283,LNC,20.97,NaN,-1.60,7.984032,0.9791,10.978044,0.1904,1.397206,-1.761020,1.996008,0.190432,0.199601,4.510978
191,FRC,13.12,NaN,1.59,8.582834,0.1770,6.586826,0.3621,4.99002,1.048004,2.195609,0.367889,0.399202,4.550898
270,KSS,23.38,NaN,-147.69,1.197605,0.6742,7.984032,0.1402,0.598802,6.889149,15.568862,1.093384,5.788423,6.227545
202,GM,34.49,NaN,5.63,12.37525,0.7104,8.582834,0.3072,3.592814,1.546249,2.39521,1.162679,6.387226,6.666667
18,AIG,51.44,NaN,3.96,9.381238,0.9584,10.578842,0.6710,10.379242,1.958826,2.59481,0.671048,2.39521,7.065868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,IDXX,482.49,NaN,60.09,93.612774,65.4300,98.403194,11.8300,96.207585,40.630287,97.005988,20.487368,98.003992,96.646707
85,CDNS,214.55,NaN,69.43,95.608782,21.5800,95.00998,16.6300,99.001996,54.107185,98.403194,18.524985,96.606786,96.926148
337,NOW,463.03,NaN,289.39,99.600798,19.5100,94.011976,13.5500,97.804391,121.010787,99.600798,16.811795,94.610778,97.125749
149,DXCM,115.70,NaN,144.97,98.203593,21.0800,94.810379,15.4400,98.403194,111.571531,99.401198,23.634371,99.201597,98.003992
343,NVDA,267.58,NaN,153.78,98.403194,29.5700,96.207585,24.2300,100.0,91.460904,99.201597,42.412940,99.800399,98.722555

In [195]:
rv_dataframe = rv_dataframe[(rv_dataframe['Price-to-Earning Ratio']>0) & (rv_dataframe['Price-to-book Ratio']>0) & (rv_dataframe['EV/EBITDA'] > 0) & (rv_dataframe['EV/GP'] > 0)]

In [196]:
rv_dataframe = rv_dataframe[:50]

In [197]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
191,FRC,13.12,NaN,1.59,8.582834,0.1770,6.586826,0.3621,4.99002,1.048004,2.195609,0.367889,0.399202,4.550898
202,GM,34.49,NaN,5.63,12.37525,0.7104,8.582834,0.3072,3.592814,1.546249,2.39521,1.162679,6.387226,6.666667
18,AIG,51.44,NaN,3.96,9.381238,0.9584,10.578842,0.6710,10.379242,1.958826,2.59481,0.671048,2.39521,7.065868
457,UNM,40.03,NaN,6.16,13.373253,0.8565,9.381238,0.6570,9.780439,3.544797,4.99002,0.656989,2.195609,7.944112
424,SYF,29.80,NaN,4.85,10.978044,1.0500,12.57485,0.6791,10.578842,2.911408,3.592814,0.827809,3.592814,8.263473
75,C,49.56,NaN,7.11,14.770459,0.5046,7.185629,0.9051,15.169661,3.985331,6.187625,0.953393,4.191617,9.500998
106,COF,96.58,NaN,5.39,11.976048,0.6952,8.383234,0.9526,16.167665,3.929849,5.988024,1.124851,5.988024,9.700599
499,ZION,29.95,NaN,3.09,8.982036,1.0400,12.075848,1.1700,20.858283,2.500426,2.994012,1.205143,7.185629,10.419162
136,DISH,7.84,NaN,2.17,8.782435,0.1361,6.387226,0.1464,0.798403,7.655204,19.560878,3.987949,27.944112,12.694611
364,PFG,75.89,NaN,4.03,9.580838,1.8200,27.844311,1.0400,17.764471,2.869806,3.393214,1.042814,4.99002,12.714571
381,PSX,106.26,NaN,4.57,9.98004,1.6700,23.852295,0.2900,2.994012,3.564846,5.189621,3.009094,21.556886,12.714571
148,DXC,25.54,NaN,8.51,16.766467,1.2600,16.167665,0.3912,5.588822,4.491847,7.58483,2.652476,18.762475,12.974052
465,VLO,131.86,NaN,4.55,9.780439,2.1000,34.530938,0.2801,2.794411,3.082985,3.792415,2.193586,15.768463,13.333333
451,UAA,9.19,NaN,11.96,23.353293,1.7000,24.550898,0.6247,8.982036,3.800540,5.788423,0.888817,3.992016,13.333333
312,MOS,46.99,NaN,4.67,10.379242,1.2900,16.566866,0.8118,13.373253,3.112712,4.191617,3.198914,22.954092,13.493014
260,KEY,12.09,NaN,6.26,13.572854,1.0400,12.075848,1.4000,27.045908,4.601830,8.183633,1.490105,8.982036,13.972056
90,CFG,29.10,NaN,7.10,14.570858,0.6602,7.58483,1.5800,30.03992,4.444510,7.38523,1.665075,11.177645,14.151697
272,L,56.24,NaN,13.52,27.045908,0.8969,9.580838,0.9191,15.369261,5.789456,11.776447,1.356942,7.38523,14.231537
485,WRK,30.18,NaN,9.67,19.161677,0.6705,7.784431,0.3643,5.189621,5.251893,9.98004,4.206596,29.341317,14.291417
98,CMA,43.30,NaN,5.13,11.576846,1.2200,14.97006,1.5600,29.740519,3.730702,5.389222,1.589603,10.778443,14.491018
313,MPC,130.78,NaN,4.65,10.179641,2.1000,34.530938,0.3262,4.191617,3.092959,3.992016,2.750422,19.96008,14.570858
368,PHM,60.14,NaN,5.46,12.175649,1.4900,20.259481,0.8184,13.972056,4.073647,6.586826,2.952505,20.758483,14.750499
443,TSN,60.82,NaN,9.04,17.964072,0.8974,9.780439,0.3287,4.391218,5.471067,10.778443,4.503581,31.337325,14.850299
432,TFC,33.25,NaN,7.51,15.369261,0.8348,8.982036,1.7700,33.932136,5.022266,9.181637,1.828563,11.976048,15.888224
218,HIG,68.04,NaN,12.51,24.9501,1.6600,23.453094,0.9895,16.766467,5.297299,10.179641,0.989483,4.590818,15.988024
276,LEN,105.00,NaN,6.49,13.972056,1.2100,14.770459,0.8706,14.371257,4.568254,7.784431,4.249592,30.538922,16.287425
302,MET,60.62,NaN,20.83,51.696607,1.0900,13.273453,0.4229,5.788423,6.171027,12.774451,0.422891,0.798403,16.866267
342,NUE,146.19,NaN,5.08,11.377246,2.0100,31.736527,0.8911,14.770459,3.353271,4.590818,3.105240,22.355289,16.966068
454,UHS,135.98,NaN,14.88,31.736527,1.4400,18.562874,0.6383,9.381238,8.362726,21.556886,0.989479,4.391218,17.125749
242,IP,35.91,NaN,8.76,17.165669,1.5000,20.658683,0.6010,8.183633,7.029380,16.966068,3.256549,23.353293,17.265469
132,DHI,98.25,NaN,6.09,12.974052,1.6700,23.852295,0.9989,17.165669,4.828360,8.582834,3.461177,25.149701,17.54491
94,CI,259.10,NaN,12.16,23.552894,1.7500,25.349301,0.4341,6.187625,10.637550,32.53493,0.738051,2.794411,18.083832
338,NRG,35.21,NaN,6.81,14.371257,2.1800,36.227545,0.2644,2.39521,5.569068,11.177645,3.903527,27.54491,18.343313
209,GS,336.92,NaN,11.21,21.556886,1.0400,12.075848,1.6100,31.037924,6.954600,16.167665,1.679848,11.377246,18.443114
452,UAL,41.67,NaN,18.69,44.111776,1.9900,31.237525,0.3054,3.393214,5.823453,12.175649,0.639019,1.996008,18.582834
492,XOM,116.05,NaN,8.75,16.966068,2.4200,40.01996,1.1700,20.858283,4.684553,8.383234,1.200474,6.986028,18.642715
184,FITB,26.44,NaN,7.89,16.167665,1.1900,14.371257,1.9300,38.023952,5.812614,11.976048,2.076406,14.371257,18.982036
395,RL,120.07,NaN,16.34,35.728543,2.0000,31.536926,0.7674,12.774451,4.905528,8.982036,1.126982,6.187625,19.041916
213,HBAN,11.41,NaN,7.87,15.968064,1.0600,12.874251,2.0700,40.818363,5.738778,11.576846,2.143895,15.169661,19.281437
129,DFS,101.17,NaN,6.54,14.171657,1.9300,29.441118,1.7100,33.133733,4.135038,6.986028,2.029366,13.572854,19.461078
373,PNC,121.85,NaN,8.80,17.365269,1.0600,12.874251,2.0600,40.518962,5.973093,12.57485,2.103855,14.570858,19.580838
479,WFC,39.64,NaN,12.62,25.149701,0.9337,10.179641,1.8100,35.129741,6.869637,15.369261,1.841983,12.175649,19.600798
251,IVZ,16.89,NaN,11.34,21.756487,0.4971,6.986028,1.2500,23.652695,9.547563,28.143713,2.381485,17.56487,19.620758
56,BAC,29.52,NaN,9.25,18.363273,0.9338,10.379242,1.9900,39.720559,6.938102,15.968064,2.031727,13.772455,19.640719
122,CVS,74.70,NaN,23.79,59.081836,1.3600,17.365269,0.2993,3.193613,6.545118,13.972056,1.059572,5.189621,19.760479
315,MRO,25.73,NaN,4.89,11.177645,1.4000,17.764471,2.1200,42.41517,3.775285,5.588822,3.149194,22.754491,19.94012
60,BEN,26.75,NaN,13.58,27.345309,1.1500,14.171657,1.6800,32.53493,7.001502,16.766467,1.538368,9.580838,20.07984
73,BWA,48.73,NaN,12.21,23.752495,1.5600,21.556886,0.7120,11.377246,6.284333,13.173653,4.559738,32.135729,20.399202
190,FOXA,33.41,NaN,16.96,37.724551,1.5200,21.057884,1.2400,23.053892,6.656017,14.570858,1.398042,7.984032,20.878244
461,USB,34.97,NaN,9.48,18.962076,1.2300,15.369261,1.9800,39.520958,6.908185,15.768463,2.131636,14.97006,20.918164

In [198]:
rv_dataframe.reset_index(drop=True, inplace=True)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,FRC,13.12,NaN,1.59,8.582834,0.1770,6.586826,0.3621,4.99002,1.048004,2.195609,0.367889,0.399202,4.550898
1,GM,34.49,NaN,5.63,12.37525,0.7104,8.582834,0.3072,3.592814,1.546249,2.39521,1.162679,6.387226,6.666667
2,AIG,51.44,NaN,3.96,9.381238,0.9584,10.578842,0.6710,10.379242,1.958826,2.59481,0.671048,2.39521,7.065868
3,UNM,40.03,NaN,6.16,13.373253,0.8565,9.381238,0.6570,9.780439,3.544797,4.99002,0.656989,2.195609,7.944112
4,SYF,29.80,NaN,4.85,10.978044,1.0500,12.57485,0.6791,10.578842,2.911408,3.592814,0.827809,3.592814,8.263473
5,C,49.56,NaN,7.11,14.770459,0.5046,7.185629,0.9051,15.169661,3.985331,6.187625,0.953393,4.191617,9.500998
6,COF,96.58,NaN,5.39,11.976048,0.6952,8.383234,0.9526,16.167665,3.929849,5.988024,1.124851,5.988024,9.700599
7,ZION,29.95,NaN,3.09,8.982036,1.0400,12.075848,1.1700,20.858283,2.500426,2.994012,1.205143,7.185629,10.419162
8,DISH,7.84,NaN,2.17,8.782435,0.1361,6.387226,0.1464,0.798403,7.655204,19.560878,3.987949,27.944112,12.694611
9,PFG,75.89,NaN,4.03,9.580838,1.8200,27.844311,1.0400,17.764471,2.869806,3.393214,1.042814,4.99002,12.714571
10,PSX,106.26,NaN,4.57,9.98004,1.6700,23.852295,0.2900,2.994012,3.564846,5.189621,3.009094,21.556886,12.714571
11,DXC,25.54,NaN,8.51,16.766467,1.2600,16.167665,0.3912,5.588822,4.491847,7.58483,2.652476,18.762475,12.974052
12,VLO,131.86,NaN,4.55,9.780439,2.1000,34.530938,0.2801,2.794411,3.082985,3.792415,2.193586,15.768463,13.333333
13,UAA,9.19,NaN,11.96,23.353293,1.7000,24.550898,0.6247,8.982036,3.800540,5.788423,0.888817,3.992016,13.333333
14,MOS,46.99,NaN,4.67,10.379242,1.2900,16.566866,0.8118,13.373253,3.112712,4.191617,3.198914,22.954092,13.493014
15,KEY,12.09,NaN,6.26,13.572854,1.0400,12.075848,1.4000,27.045908,4.601830,8.183633,1.490105,8.982036,13.972056
16,CFG,29.10,NaN,7.10,14.570858,0.6602,7.58483,1.5800,30.03992,4.444510,7.38523,1.665075,11.177645,14.151697
17,L,56.24,NaN,13.52,27.045908,0.8969,9.580838,0.9191,15.369261,5.789456,11.776447,1.356942,7.38523,14.231537
18,WRK,30.18,NaN,9.67,19.161677,0.6705,7.784431,0.3643,5.189621,5.251893,9.98004,4.206596,29.341317,14.291417
19,CMA,43.30,NaN,5.13,11.576846,1.2200,14.97006,1.5600,29.740519,3.730702,5.389222,1.589603,10.778443,14.491018
20,MPC,130.78,NaN,4.65,10.179641,2.1000,34.530938,0.3262,4.191617,3.092959,3.992016,2.750422,19.96008,14.570858
21,PHM,60.14,NaN,5.46,12.175649,1.4900,20.259481,0.8184,13.972056,4.073647,6.586826,2.952505,20.758483,14.750499
22,TSN,60.82,NaN,9.04,17.964072,0.8974,9.780439,0.3287,4.391218,5.471067,10.778443,4.503581,31.337325,14.850299
23,TFC,33.25,NaN,7.51,15.369261,0.8348,8.982036,1.7700,33.932136,5.022266,9.181637,1.828563,11.976048,15.888224
24,HIG,68.04,NaN,12.51,24.9501,1.6600,23.453094,0.9895,16.766467,5.297299,10.179641,0.989483,4.590818,15.988024
25,LEN,105.00,NaN,6.49,13.972056,1.2100,14.770459,0.8706,14.371257,4.568254,7.784431,4.249592,30.538922,16.287425
26,MET,60.62,NaN,20.83,51.696607,1.0900,13.273453,0.4229,5.788423,6.171027,12.774451,0.422891,0.798403,16.866267
27,NUE,146.19,NaN,5.08,11.377246,2.0100,31.736527,0.8911,14.770459,3.353271,4.590818,3.105240,22.355289,16.966068
28,UHS,135.98,NaN,14.88,31.736527,1.4400,18.562874,0.6383,9.381238,8.362726,21.556886,0.989479,4.391218,17.125749
29,IP,35.91,NaN,8.76,17.165669,1.5000,20.658683,0.6010,8.183633,7.029380,16.966068,3.256549,23.353293,17.265469
30,DHI,98.25,NaN,6.09,12.974052,1.6700,23.852295,0.9989,17.165669,4.828360,8.582834,3.461177,25.149701,17.54491
31,CI,259.10,NaN,12.16,23.552894,1.7500,25.349301,0.4341,6.187625,10.637550,32.53493,0.738051,2.794411,18.083832
32,NRG,35.21,NaN,6.81,14.371257,2.1800,36.227545,0.2644,2.39521,5.569068,11.177645,3.903527,27.54491,18.343313
33,GS,336.92,NaN,11.21,21.556886,1.0400,12.075848,1.6100,31.037924,6.954600,16.167665,1.679848,11.377246,18.443114
34,UAL,41.67,NaN,18.69,44.111776,1.9900,31.237525,0.3054,3.393214,5.823453,12.175649,0.639019,1.996008,18.582834
35,XOM,116.05,NaN,8.75,16.966068,2.4200,40.01996,1.1700,20.858283,4.684553,8.383234,1.200474,6.986028,18.642715
36,FITB,26.44,NaN,7.89,16.167665,1.1900,14.371257,1.9300,38.023952,5.812614,11.976048,2.076406,14.371257,18.982036
37,RL,120.07,NaN,16.34,35.728543,2.0000,31.536926,0.7674,12.774451,4.905528,8.982036,1.126982,6.187625,19.041916
38,HBAN,11.41,NaN,7.87,15.968064,1.0600,12.874251,2.0700,40.818363,5.738778,11.576846,2.143895,15.169661,19.281437
39,DFS,101.17,NaN,6.54,14.171657,1.9300,29.441118,1.7100,33.133733,4.135038,6.986028,2.029366,13.572854,19.461078
40,PNC,121.85,NaN,8.80,17.365269,1.0600,12.874251,2.0600,40.518962,5.973093,12.57485,2.103855,14.570858,19.580838
41,WFC,39.64,NaN,12.62,25.149701,0.9337,10.179641,1.8100,35.129741,6.869637,15.369261,1.841983,12.175649,19.600798
42,IVZ,16.89,NaN,11.34,21.756487,0.4971,6.986028,1.2500,23.652695,9.547563,28.143713,2.381485,17.56487,19.620758
43,BAC,29.52,NaN,9.25,18.363273,0.9338,10.379242,1.9900,39.720559,6.938102,15.968064,2.031727,13.772455,19.640719
44,CVS,74.70,NaN,23.79,59.081836,1.3600,17.365269,0.2993,3.193613,6.545118,13.972056,1.059572,5.189621,19.760479
45,MRO,25.73,NaN,4.89,11.177645,1.4000,17.764471,2.1200,42.41517,3.775285,5.588822,3.149194,22.754491,19.94012
46,BEN,26.75,NaN,13.58,27.345309,1.1500,14.171657,1.6800,32.53493,7.001502,16.766467,1.538368,9.580838,20.07984
47,BWA,48.73,NaN,12.21,23.752495,1.5600,21.556886,0.7120,11.377246,6.284333,13.173653,4.559738,32.135729,20.399202
48,FOXA,33.41,NaN,16.96,37.724551,1.5200,21.057884,1.2400,23.053892,6.656017,14.570858,1.398042,7.984032,20.878244
49,USB,34.97,NaN,9.48,18.962076,1.2300,15.369261,1.9800,39.520958,6.908185,15.768463,2.131636,14.97006,20.918164

Numero de ações para comprar

In [199]:
portfolio_input()

Digite o vlaor do Investimento: 100000000

In [200]:
position_size = float(portfolio_size)/len(rv_dataframe.index)
position_size

2000000.0

In [201]:
for row in rv_dataframe.index:
  rv_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe.loc[row, 'Price'])

In [203]:

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earning Ratio,PE Percentile,Price-to-book Ratio,PB Percentile,Price-to-sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,FRC,13.12,152439,1.59,8.582834,0.1770,6.586826,0.3621,4.99002,1.048004,2.195609,0.367889,0.399202,4.550898
1,GM,34.49,57987,5.63,12.37525,0.7104,8.582834,0.3072,3.592814,1.546249,2.39521,1.162679,6.387226,6.666667
2,AIG,51.44,38880,3.96,9.381238,0.9584,10.578842,0.6710,10.379242,1.958826,2.59481,0.671048,2.39521,7.065868
3,UNM,40.03,49962,6.16,13.373253,0.8565,9.381238,0.6570,9.780439,3.544797,4.99002,0.656989,2.195609,7.944112
4,SYF,29.80,67114,4.85,10.978044,1.0500,12.57485,0.6791,10.578842,2.911408,3.592814,0.827809,3.592814,8.263473
5,C,49.56,40355,7.11,14.770459,0.5046,7.185629,0.9051,15.169661,3.985331,6.187625,0.953393,4.191617,9.500998
6,COF,96.58,20708,5.39,11.976048,0.6952,8.383234,0.9526,16.167665,3.929849,5.988024,1.124851,5.988024,9.700599
7,ZION,29.95,66777,3.09,8.982036,1.0400,12.075848,1.1700,20.858283,2.500426,2.994012,1.205143,7.185629,10.419162
8,DISH,7.84,255102,2.17,8.782435,0.1361,6.387226,0.1464,0.798403,7.655204,19.560878,3.987949,27.944112,12.694611
9,PFG,75.89,26353,4.03,9.580838,1.8200,27.844311,1.0400,17.764471,2.869806,3.393214,1.042814,4.99002,12.714571
10,PSX,106.26,18821,4.57,9.98004,1.6700,23.852295,0.2900,2.994012,3.564846,5.189621,3.009094,21.556886,12.714571
11,DXC,25.54,78308,8.51,16.766467,1.2600,16.167665,0.3912,5.588822,4.491847,7.58483,2.652476,18.762475,12.974052
12,VLO,131.86,15167,4.55,9.780439,2.1000,34.530938,0.2801,2.794411,3.082985,3.792415,2.193586,15.768463,13.333333
13,UAA,9.19,217627,11.96,23.353293,1.7000,24.550898,0.6247,8.982036,3.800540,5.788423,0.888817,3.992016,13.333333
14,MOS,46.99,42562,4.67,10.379242,1.2900,16.566866,0.8118,13.373253,3.112712,4.191617,3.198914,22.954092,13.493014
15,KEY,12.09,165425,6.26,13.572854,1.0400,12.075848,1.4000,27.045908,4.601830,8.183633,1.490105,8.982036,13.972056
16,CFG,29.10,68728,7.10,14.570858,0.6602,7.58483,1.5800,30.03992,4.444510,7.38523,1.665075,11.177645,14.151697
17,L,56.24,35561,13.52,27.045908,0.8969,9.580838,0.9191,15.369261,5.789456,11.776447,1.356942,7.38523,14.231537
18,WRK,30.18,66269,9.67,19.161677,0.6705,7.784431,0.3643,5.189621,5.251893,9.98004,4.206596,29.341317,14.291417
19,CMA,43.30,46189,5.13,11.576846,1.2200,14.97006,1.5600,29.740519,3.730702,5.389222,1.589603,10.778443,14.491018
20,MPC,130.78,15292,4.65,10.179641,2.1000,34.530938,0.3262,4.191617,3.092959,3.992016,2.750422,19.96008,14.570858
21,PHM,60.14,33255,5.46,12.175649,1.4900,20.259481,0.8184,13.972056,4.073647,6.586826,2.952505,20.758483,14.750499
22,TSN,60.82,32883,9.04,17.964072,0.8974,9.780439,0.3287,4.391218,5.471067,10.778443,4.503581,31.337325,14.850299
23,TFC,33.25,60150,7.51,15.369261,0.8348,8.982036,1.7700,33.932136,5.022266,9.181637,1.828563,11.976048,15.888224
24,HIG,68.04,29394,12.51,24.9501,1.6600,23.453094,0.9895,16.766467,5.297299,10.179641,0.989483,4.590818,15.988024
25,LEN,105.00,19047,6.49,13.972056,1.2100,14.770459,0.8706,14.371257,4.568254,7.784431,4.249592,30.538922,16.287425
26,MET,60.62,32992,20.83,51.696607,1.0900,13.273453,0.4229,5.788423,6.171027,12.774451,0.422891,0.798403,16.866267
27,NUE,146.19,13680,5.08,11.377246,2.0100,31.736527,0.8911,14.770459,3.353271,4.590818,3.105240,22.355289,16.966068
28,UHS,135.98,14708,14.88,31.736527,1.4400,18.562874,0.6383,9.381238,8.362726,21.556886,0.989479,4.391218,17.125749
29,IP,35.91,55694,8.76,17.165669,1.5000,20.658683,0.6010,8.183633,7.029380,16.966068,3.256549,23.353293,17.265469
30,DHI,98.25,20356,6.09,12.974052,1.6700,23.852295,0.9989,17.165669,4.828360,8.582834,3.461177,25.149701,17.54491
31,CI,259.10,7719,12.16,23.552894,1.7500,25.349301,0.4341,6.187625,10.637550,32.53493,0.738051,2.794411,18.083832
32,NRG,35.21,56802,6.81,14.371257,2.1800,36.227545,0.2644,2.39521,5.569068,11.177645,3.903527,27.54491,18.343313
33,GS,336.92,5936,11.21,21.556886,1.0400,12.075848,1.6100,31.037924,6.954600,16.167665,1.679848,11.377246,18.443114
34,UAL,41.67,47996,18.69,44.111776,1.9900,31.237525,0.3054,3.393214,5.823453,12.175649,0.639019,1.996008,18.582834
35,XOM,116.05,17233,8.75,16.966068,2.4200,40.01996,1.1700,20.858283,4.684553,8.383234,1.200474,6.986028,18.642715
36,FITB,26.44,75642,7.89,16.167665,1.1900,14.371257,1.9300,38.023952,5.812614,11.976048,2.076406,14.371257,18.982036
37,RL,120.07,16656,16.34,35.728543,2.0000,31.536926,0.7674,12.774451,4.905528,8.982036,1.126982,6.187625,19.041916
38,HBAN,11.41,175284,7.87,15.968064,1.0600,12.874251,2.0700,40.818363,5.738778,11.576846,2.143895,15.169661,19.281437
39,DFS,101.17,19768,6.54,14.171657,1.9300,29.441118,1.7100,33.133733,4.135038,6.986028,2.029366,13.572854,19.461078
40,PNC,121.85,16413,8.80,17.365269,1.0600,12.874251,2.0600,40.518962,5.973093,12.57485,2.103855,14.570858,19.580838
41,WFC,39.64,50454,12.62,25.149701,0.9337,10.179641,1.8100,35.129741,6.869637,15.369261,1.841983,12.175649,19.600798
42,IVZ,16.89,118413,11.34,21.756487,0.4971,6.986028,1.2500,23.652695,9.547563,28.143713,2.381485,17.56487,19.620758
43,BAC,29.52,67750,9.25,18.363273,0.9338,10.379242,1.9900,39.720559,6.938102,15.968064,2.031727,13.772455,19.640719
44,CVS,74.70,26773,23.79,59.081836,1.3600,17.365269,0.2993,3.193613,6.545118,13.972056,1.059572,5.189621,19.760479
45,MRO,25.73,77730,4.89,11.177645,1.4000,17.764471,2.1200,42.41517,3.775285,5.588822,3.149194,22.754491,19.94012
46,BEN,26.75,74766,13.58,27.345309,1.1500,14.171657,1.6800,32.53493,7.001502,16.766467,1.538368,9.580838,20.07984
47,BWA,48.73,41042,12.21,23.752495,1.5600,21.556886,0.7120,11.377246,6.284333,13.173653,4.559738,32.135729,20.399202
48,FOXA,33.41,59862,16.96,37.724551,1.5200,21.057884,1.2400,23.053892,6.656017,14.570858,1.398042,7.984032,20.878244
49,USB,34.97,57191,9.48,18.962076,1.2300,15.369261,1.9800,39.520958,6.908185,15.768463,2.131636,14.97006,20.918164

Transformando esses dados em um excel para futuras pesquisas

In [204]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name ='Compras', index=False)
writer.save()

<ipython-input-204-ec70628d3535>:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()